*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:#F0FFFF;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 10vh;
    width: 70vw;
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
.first{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 0px 0px 25px;
    display: block;
}
.second{
    width: 50%;
    height: 100%;
    background-color:#9370DB;
    /* background-color: */
    /* background-color:blue; */
    border-radius: 0px 25px 25px 0px ;
    background-image: url(/girls_pic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.center{
    
    display: block;
    padding: 15%;
}
.login {
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.button, input, button{
    border: 1px solid lightgray;
    margin: 13px;
    padding: 13px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    width: 20%;
    height: 1%;
    margin-left: -17px;
}
.hr{
    display: flex;
    justify-content: center;
}

.right{
    margin-left:24vh ;
    font-size: 10;

}
.green{
    color: purple;
}
.color{
    color: royalblue ;
    color:white;
 }
.cole{
    background-color:#8A2BE2;
    /* background-color:9370DB; */
    font-size: 16px;
    color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    width: 86%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    color: white;
} 

::-webkit-input-placeholder{
    color:black;
    text-align: center;
}
.change{
    font-size: 10px;
}
.size{
    color: white;
    font-size: 9;

}
.size2{
    color: white;
    
}
.size3{
    color: white;
    

}
.second{
    align-items: center;
}
.h{
    width: 30%;
}
.bor{
    border: 3px solid #9370DB;
}
.cl{
    color: rgb(255, 255, 255);
}
label{
    margin-left: 0px;
}
.heading{
    padding:  0px 35px;
}
.img{
    margin-right: 10px;

}
.google_image{
    margin-right: 10px;
}